:root {
    --basic: rgb(140, 192, 174);
    --cover: rgb(8, 98, 58);
    --text: rgb(245, 245, 245);
}
body {
   width: 100vw;
   height: 100vh;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  .header {
    background-color: var(--text);
  }
  
  #navbar {
    overflow: hidden;
    border: 0.1px solid var(--cover);
    background-color: white;
    box-shadow: 0 0 7px black;
  }
  
  #navbar a {
    float: left;
    display: block;
    background-color:white;
    color: var(--cover);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: var(--basic);
    color: black;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  #navbar .active{
    background-color: var(--cover);
    color: var(--text);
  }